@{
	ViewBag.Title = "Home Page";
}
<div class="jumbotron">
	<h1>ASP.NET + Facebook</h1>
	<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
	<p><a href="@ViewBag.UrlFb" class="btn btn-primary btn-large">Login Facebook</a></p>
</div>